<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>AppUI Frontend - Responsive Bootstrap Site Template</title>

        <meta name="description" content="AppUI Frontend is a Responsive Bootstrap Site Template created by pixelcave and added as a bonus in AppUI Admin Template package">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- Page Container -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!-- 'boxed' class for a boxed layout -->
        <div id="page-container" class="boxed">
            <!-- Site Header -->
            <header>
                <div class="container">
                    <!-- Site Logo -->
                    <a href="index.html" class="site-logo">
                        <i class="fa fa-cube"></i> App<strong>UI</strong>
                    </a>
                    <!-- END Site Logo -->

                    <!-- Site Navigation -->
                    <nav>
                        <!-- Menu Toggle -->
                        <!-- Toggles menu on small screens -->
                        <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">Menu</a>
                        <!-- END Menu Toggle -->

                        <!-- Main Menu -->
                        <ul class="site-nav">
                            <li>
                                <a href="index.html">Welcome</a>
                            </li>
                            <li>
                                <a href="features.html">Features</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="ui.html">UI</a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Pages</a>
                                <ul>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="blog_post.html" class="active">Blog Post</a>
                                    </li>
                                    <li>
                                        <a href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="project.html">Project</a>
                                    </li>
                                    <li>
                                        <a href="team.html">Team</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="jobs.html">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="search_results.html">Search Results</a>
                                    </li>
                                    <li>
                                        <a href="page_scroller.html">Page Scroller</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://pixelcave.com/demo/appui" class="featured">Get Started <i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                        <!-- END Main Menu -->
                    </nav>
                    <!-- END Site Navigation -->
                </div>
            </header>
            <!-- END Site Header -->

            <!-- Intro -->
            <div class="media-container">
                <section class="site-section site-section-top site-section-light">
                    <div class="container">
                        <h1><strong>The autumn trip that changed my life</strong></h1>
                        <h2 class="text-light-op hidden-xs"><strong>It changed the way I think</strong></h2>
                    </div>
                </section>

                <!-- For best results use an image with a resolution of 1260x280 pixels -->
                <img src="img/placeholders/headers/blog_post.jpg" alt="" class="media-image">
            </div>
            <!-- END Intro -->

            <!-- Post -->
            <section class="site-content site-section border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <article class="site-block">
                                <h3 class="push-top"><strong>Day 1: Preparation</strong></h3>
                                <p>Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum.</p>
                                <h3 class="push-top"><strong>Day 2: Road trip</strong></h3>
                                <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="row push-top-bottom">
                                    <div class="col-xs-6">
                                        <a href="img/placeholders/photos/photo9.jpg" data-toggle="lightbox-image" title="Image 1 Description">
                                            <img src="img/placeholders/photos/photo9.jpg" alt="" class="img-responsive center-block">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="img/placeholders/photos/photo10.jpg" data-toggle="lightbox-image" title="Image 2 Description">
                                            <img src="img/placeholders/photos/photo10.jpg" alt="" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                                <p>Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum.</p>
                                <h3 class="push-top"><strong>Day 3-6: Exploring</strong></h3>
                                <p>Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="row push-top-bottom">
                                    <div class="col-xs-6">
                                        <a href="img/placeholders/photos/photo13.jpg" data-toggle="lightbox-image" title="Image 3 Description">
                                            <img src="img/placeholders/photos/photo13.jpg" alt="" class="img-responsive center-block">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="img/placeholders/photos/photo12.jpg" data-toggle="lightbox-image" title="Image 4 Description">
                                            <img src="img/placeholders/photos/photo12.jpg" alt="" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                                <p>Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget!</p>
                                <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <h3 class="push-top"><strong>Day 7: The Return</strong></h3>
                                <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Post -->

            <!-- Author -->
            <section class="site-content site-section border-bottom themed-background-muted">
                <div class="container">
                    <div class="row row-items">
                        <div class="col-md-2 col-md-offset-2 text-center">
                            <img src="img/placeholders/avatars/avatar2@2x.jpg" alt="" class="img-circle img-thumbnail img-thumbnail-avatar-2x">
                        </div>
                        <div class="col-md-6">
                            <h4>
                                <small class="pull-right"><strong>October 8, 2014</strong></small>
                                <strong>Jonathan Taylor</strong>
                            </h4>
                            <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Author -->

            <!-- Comments -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row row-items">
                        <div class="col-md-8 col-md-offset-2">
                            <!-- All Comments -->
                            <h2 class="site-heading h3"><i class="fa fa-comments"></i> <strong>Comments</strong> (5)</h2>
                            <ul class="media-list site-block">
                                <li class="media">
                                    <a href="javascript:void(0)" class="pull-left">
                                        <img src="img/placeholders/avatars/avatar12.jpg" alt="Avatar" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <a href="javascript:void(0)"><strong>Nicoline Andersen</strong></a>
                                        <span class="text-muted"><small><em>35 min ago</em></small></span>
                                        <p>Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus?</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="javascript:void(0)" class="pull-left">
                                        <img src="img/placeholders/avatars/avatar13.jpg" alt="Avatar" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <a href="javascript:void(0)"><strong>Josefina Orozco</strong></a>
                                        <span class="text-muted"><small><em>10 hours ago</em></small></span>
                                        <p>Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices.</p>
                                        <ul class="media-list">
                                            <li class="media">
                                                <a href="javascript:void(0)" class="pull-left">
                                                    <img src="img/placeholders/avatars/avatar15.jpg" alt="Avatar" class="img-circle">
                                                </a>
                                                <div class="media-body">
                                                    <a href="javascript:void(0)"><strong>George Romero</strong></a>
                                                    <span class="text-muted"><small><em>10 min ago</em></small></span>
                                                    <p>Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at.</p>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <a href="javascript:void(0)" class="pull-left">
                                                    <img src="img/placeholders/avatars/avatar14.jpg" alt="Avatar" class="img-circle">
                                                </a>
                                                <div class="media-body">
                                                    <a href="javascript:void(0)"><strong>Gerald Sims</strong></a>
                                                    <span class="text-muted"><small><em>1 hour ago</em></small></span>
                                                    <p>Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="javascript:void(0)" class="pull-left">
                                        <img src="img/placeholders/avatars/avatar7.jpg" alt="Avatar" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <a href="javascript:void(0)"><strong>Donald Pierce</strong></a>
                                        <span class="text-muted"><small><em>1 week ago</em></small></span>
                                        <p>Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at.</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- END All Comments -->

                            <!-- Add Comment -->
                            <h2 class="site-heading h3"><i class="fa fa-plus"></i> <strong>Add Comment</strong></h2>
                            <form action="blog_post.html" method="post" class="form-horizontal" onsubmit="return false;">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="text" id="blog-post-firstname" name="blog-post-firstname" class="form-control input-lg" placeholder="Firstname">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" id="blog-post-lastname" name="blog-post-lastname" class="form-control input-lg" placeholder="Lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <textarea id="blog-post-comment" name="blog-post-comment" class="form-control input-lg" rows="5" placeholder="Comment.."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary">Publish</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Add Comment -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Comments -->

            <!-- Footer -->
            <footer class="site-footer site-section site-section-light">
                <div class="container">
                    <!-- Footer Links -->
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Company</h4>
                            <ul class="footer-nav ul-breath list-unstyled">
                                <li><a href="javascript:void(0)">About Us</a></li>
                                <li><a href="javascript:void(0)">Our Team</a></li>
                                <li><a href="javascript:void(0)">Memberships</a></li>
                                <li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Need support?</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="javascript:void(0)"><i class="fa fa-fw fa-book"></i> Knowledge Base</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-fw fa-support"></i> FAQ</a></li>
                            </ul>
                            <h4 class="footer-heading">We are social!</h4>
                            <ul class="footer-nav footer-nav-links list-inline">
                                <li><a href="javascript:void(0)" class="social-facebook" data-toggle="tooltip" title="Like our Facebook page"><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)" class="social-twitter" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" class="social-google-plus" data-toggle="tooltip" title="Like our Google+ page"><i class="fa fa-fw fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)" class="social-dribbble" data-toggle="tooltip" title="Follow us on Dribbble"><i class="fa fa-fw fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="social-youtube" data-toggle="tooltip" title="Subscribe to our Youtube channel"><i class="fa fa-fw fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="footer-heading">Newsletter</h4>
                            <form action="index.html" method="post" class="form-inline" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="sr-only" for="register-email">Your Email</label>
                                    <div class="input-group">
                                        <input type="email" id="register-email" name="register-email" class="form-control" placeholder="Your Email..">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <h4 class="footer-heading"><a href="http://goo.gl/RcsdAh">AppUI - Frontend</a></h4>
                            <em><span id="year-copy"></span></em> &copy; Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/WCS84b">pixelcave</a>
                        </div>
                    </div>
                    <!-- END Footer Links -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-arrow-up"></i></a>

        <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
        <script src="js/vendor/jquery-2.1.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>